<div class="main bg-light py-5">
  <div class="container-fluid px-5">
    <h3 class="fw-normal">Get the FreshCart app</h3>
    <p class="m-0 text-muted my-3">We will send you a link, open it on your phone too download the app</p>
    <div class="d-flex flex-row justify-content-between">
      <div class="w-75 ms-3"><input type="email" placeholder="Email.." class="form-control w-100"></div>
      <div><button class="btn btn-outline-success px-4 me-2">Share App Link</button></div>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-between px-3 py-2">
      <div class="d-flex justify-content-start align-items-center ">
        <p class="m-0">Payment Partners</p>
        <div class="pics w-50 ms-1">
          <img src="../../assets/Amazon_Pay-Logo.wine.png" class="w-15">
          <img src="../../assets/MasterCard_Logo.svg.webp" class="w-15">
          <img src="../../assets/png-transparent-paypal-logo-text-line-blue-thumbnail.png" class="w-15">
        </div>
      </div>
      <div class="info d-flex justify-content-end align-items-center">
        <p class="m-0">Get deliveries With FreshCart</p>
          <div class="bg-black w-15 ms-2"><img src="../../assets/apple-app-store-logo.jpg" class="w-100"></div>
      </div>
    </div>
    <hr>
  </div>
</div>
